<div
  class="xl:flex xl:items-center xl:justify-center lg:flex lg:items-center lg:justify-center md:flex md:items-center md:justify-center xl:pt-10"
>
  <section
    class="px-[32px] flex flex-col gap-7 xl:w-[70%] lg:w-[70%] md:w-[85%]"
  >
    <div class="flex justify-between items-center">
      <p class="text-[40px] font-bold">Administração</p>
      <button
      (click)="abrirModalCadastroProduto()"
        class="py-[12px] px-[12px] bg-indigo-500 flex items-center justify-center gap-2 border-none rounded-full cursor-pointer hover:-translate-y-1 duration-500 text-white font-bold text-[14px]"
      >
        <span class="hidden xl:flex lg:flex md:flex sm:flex"
          >Adicionar produto
        </span>
        <lucide-angular [img]="iconeAdicionar" class="w-5 h-5"></lucide-angular>
      </button>
    </div>
    <app-lista-produto></app-lista-produto>
  </section>
</div>

<p-dialog
  header="Cadastrar novo produto"
  [modal]="true"
  [draggable]="false"
  [(visible)]="visibilidade"
  [style]="{ width: '23rem' }"
>
  <form [formGroup]="formCadastro" class="grid grid-cols-9 gap-6 py-3">
    <p-floatlabel variant="on" class="col-start-1 col-end-10">
      <input
        class="!text-[12px]"
        [fluid]="true"
        pInputText
        formControlName="titulo"
        id="titulo"
        autocomplete="off"
      />
      <label class="!text-[12px]" for="on_label">Título</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="col-start-1 col-end-4">
      <input
        class="!text-[12px]"
        [fluid]="true"
        pInputText
        mask="999999"
        formControlName="quantidadeEstoque"
        id="quantidadeEstoque"
        autocomplete="off"
      />
      <label class="!text-[12px]" for="on_label">Estoque</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="col-start-4 col-end-7">
      <input
        class="!text-[12px]"
        [fluid]="true"
        [decimalMarker]="','" mask="percent.2"
        pInputText
        formControlName="desconto"
        id="desconto"
        autocomplete="off"
      />
      <label class="!text-[12px]" for="on_label">Desconto</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="col-start-7 col-end-10">
      <input
        class="!text-[12px]"
        [fluid]="true"
        pInputText
        mask="separator.2" thousandSeparator="," decimalMarker="."
        formControlName="valor"
        id="valor"
        autocomplete="off"
      />
      <label class="!text-[12px]" for="on_label">Valor</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="col-start-1 col-end-10">
      <input
        class="!text-[12px]"
        [fluid]="true"
        pInputText
        formControlName="imagem"
        id="imagem"
        autocomplete="off"
      />
      <label class="!text-[12px]" for="on_label">Imagem</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="col-start-1 col-end-10">
      <textarea
        pTextarea
        id="descricao"
        formControlName="descricao"
        rows="5"
        cols="30"
        style="resize: none"
        class="h-full w-full !text-[12px]"
      ></textarea>
      <label class="!text-[12px]" for="on_label">Descrição</label>
    </p-floatlabel>

    <div class="flex gap-3 col-start-1 col-end-10">
      <button
        (click)="fecharModal()"
        class="py-[12px] bg-zinc-800 flex items-center justify-center gap-3 cursor-pointer hover:-translate-y-1 duration-500 w-full border-none rounded-[8px] text-white font-bold text-[14px] col-start-1 col-end-5"
      >
        Cancelar
      </button>
      <button
        (click)="criarProduto()"
        [disabled]="formCadastro.invalid"
        class="py-[12px]  flex items-center justify-center gap-3 cursor-pointer hover:-translate-y-1 duration-500 w-full border-none rounded-[8px] text-white font-bold text-[14px] col-start-1 col-end-5"
        [ngClass]="{
            'bg-indigo-500 hover:bg-zinc-900': formCadastro.valid,
            'bg-gray-300 cursor-not-allowed': formCadastro.invalid
          }"
      >
        Cadastrar
        <lucide-angular [img]="iconeAdicionar"></lucide-angular>
      </button>
    </div>
  </form>
</p-dialog>
