<div class="xl:flex xl:items-center xl:justify-center lg:flex lg:items-center lg:justify-center md:flex md:items-center md:justify-center xl:pt-10">
    <section class="px-[32px]  flex flex-col gap-7 xl:w-[70%] lg:w-[70%] md:w-[85%]">
           <!-- <div
        class=" reveal-esquerda w-full h-[200px] xl:h-[200px] flex items-center justify-center rounded-xl bg-[url('/img/banner-bg-mob.svg')] xl:bg-[url('/img/banner-bg.svg')] bg-cover bg-center bg-no-repeat"
      ></div> -->
        <p class="text-[40px] font-bold ">Administração </p>
        <app-lista-produto></app-lista-produto>
    </section>
</div>